.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: flex;
    background-color: #e7e7e7;
}
.topic1 {
    width: 500px;
    background-color: #ffffff;
    margin: auto;
    padding: 16px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 16px;
}
.title {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 10px;
}
.login-form input {
    width: 250px;
    border: none;
    padding: 8px;
    margin-top: 8px;
    border-radius: 12px;
    background-color:hsl(210, 9%, 96%);
}
.login-form button {
    width: 266px;
    border: none;
    padding: 8px;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #2196F3;
    color: white;
}
