.Container {
  padding-left: 400px;
  padding-right: 400px;
}
.title {
  text-align: center;
  font-size: xx-large;
  padding-top: 40px;
}
.table-of-content {
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}
.paragraph {
  padding-top: 30px;
}